:root {
  --primary-color-c01: #f5f5f5;
  --primary-color-c02: #f0f0f0;
  --primary-color-c03: #e0e0e0;
  --primary-color-c04: #cccccc;
  --primary-color-c06: #a3a3a3;
  --primary-color-c07: #8f8f8f;
  --primary-color-c10: #525252;
  --primary-color-c13: #141414;
}