.footer {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.5rem 1.25rem;
  gap: 100px;
  align-items: center;

  & .footer-copyright {
    font-size: 1.125rem;
    color: #8f8f8f;
    grid-column: 1 / -1;
    text-align: center;
  }

  & .footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #ccc;
    text-align: start;
    justify-self: flex-end;
  }

  & .footer-contato li {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 30px;

    & a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 40px;

    & .footer-contato li {
      font-size: 1.5rem;
    }
  }
}
